a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

header {
    display: inline-block;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
  }

p {
    font-family: "Montserrat Alternates"
}

#game {
    position: absolute;
    left: 45%;
    top: 5px;
    color: red;
    font-family: "Press Start 2P";
}